
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<h2 style="text-align:center; font-size: 20px; margin-top: 25px;">Tài khoản đã bị khóa, vui lòng liên hệ quản trị viên để biết thêm chi tiết</h2>

