

@{ 
    ViewBag.Title = "Find account";
    Layout = "~/Views/Shared/_Layout_Account_Actions.cshtml"; 
}

<div class="main">
    <h2>Enter your username or email</h2>
    <form action="/Account/ForgotPassword" method="post">
        @Html.AntiForgeryToken()
        <label class="error">@Html.ValidationMessage("Invalid")</label>
        <div class="input">
            <label>Username or Email</label>
            <input type="text" name="UsernameOrEmail" placeholder="Username Or Email" class="form-control" required oninvalid="this.setCustomValidity('Username or Email required')" oninput="setCustomValidity('')" />
            <div class="form-btn">
                <input type="button" value="Back" id="back" class="btn btn-primary" onclick="location.href='/Account/Login'" />
                <input type="submit" value="Find" id="submit" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
