
@{ 
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout_Account_Actions.cshtml"; 
}

<div class="main">
    <h2>Enter new password</h2>
    <form action="/Account/ResetPassword" method="post">
        @Html.AntiForgeryToken()
        <label class="error">@Html.ValidationMessage("Invalid")</label>
        <div class="input">
            <input class="form-control" id="Username" name="Username" value="@ViewBag.username">
            <label>New password</label>
            <input type="password" name="Password" placeholder="New Password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" oninvalid="this.setCustomValidity('Minimum eight characters, at least one uppercase letter, one lowercase letter and one number.')" oninput="setCustomValidity('')" />
            <label>Confirm new password</label>
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" class="form-control" required oninvalid="this.setCustomValidity('Confirm new password required')" oninput="setCustomValidity('')" />
            <div class="form-btn">
                <input type="button" value="Back" id="back" class="btn btn-primary" onclick="location.href='/Account/ForgotPassword'" />
                <input type="submit" value="Reset" id="submit" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

<style>
    #Username {
        color: blue;
        text-align: center;
        font-weight: bold;
        border: none;
        background-color: transparent;
        pointer-events: none;
    }
</style>